table.table tr th {
    background-color:#0273D4 !important;
}

.navbar-custom {
    background-color:#0273D4;
    color:#ffffff;
      border-radius:0;
}
  
.navbar-custom .navbar-nav > li > a {
      color:#fff;
      padding-left:20px;
      padding-right:20px;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
      
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #33aa33;
}
      
.navbar-custom .navbar-brand {
      color:#eeeeee;
}
.navbar-custom .navbar-toggle {
      background-color:#eeeeee;
}
.navbar-custom .icon-bar {
      background-color:#33aa33;
}
.list-container {
    list-style: none;
    overflow: auto;
}
.book-img {
    max-height: 190px;
    width: 190px;
}
.book {
     float: left;
    position: relative;
    height: 320px;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px 0px, rgba(0, 0, 0, 0.137255) 0px 3px 4px 0px, rgba(0, 0, 0, 0.117647) 0px 3px 3px -2px;
    margin-bottom: 5px;
    margin-left: -30px;
    margin-top: 5px;
    box-sizing: border-box;
    width: 100%;
}

.book-tile {
    float: left;
    position: relative;
    height: 350px;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px 0px, rgba(0, 0, 0, 0.137255) 0px 3px 4px 0px, rgba(0, 0, 0, 0.117647) 0px 3px 3px -2px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding:5px;
    box-sizing: border-box;
    margin-top: 5px;
    width:45%;
}

